@import 'Variable.scss';

section{
    &.body{
        padding-bottom: 32px;
    }
    .container{
        padding: 24px 16px 0 16px;
        max-width: calc(100% - 32px);
    }
    .date-info{
        background-color: $header-grey;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px 16px;
        p{
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            letter-spacing: 0.4px;
        }
    }

    .panel{
        border: 1px solid $border-grey;
        border-radius: 4px;
        padding: 32px;
        margin-right: 16px;
        &:last-child{
            margin-right: 0;
        }
        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 32px;
            h3{
                font-size: 24px;
                font-weight: 700;
                line-height: 31.68px;
            }
            a{
                border: 1px solid $border-grey;
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
            }
        }

        .footer{
            margin-top: 30px;
            span{
                font-size: 12px;
                line-height: 12px;
                color: $grey;
                letter-spacing: 0.4px;
            }
            p.total{
                font-size: 24px;
                font-weight: 700;
                line-height: 31px;
                margin-top: 5px;
            }
            p.percentage{
                color: $secondary;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.4px;
                margin-top: 8px;
            }
        }
        
    }
}

@media only screen and (max-width: 1024px){
    .body{
        .container{
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .date-info{
            justify-content: center;
        }
        .panel{
            margin-right: 0;
        }
    }
}