@import 'Variable.scss';
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;    
    font-weight: normal;
    color: $dark;
}
.text-black{
    color: $dark !important;
}
.font-semibold{
    font-weight: 600 !important;
}
.flex{
    display: flex;
}
.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.justify-center{
    justify-content: center;
}
.items-start{
    align-items: flex-start;
}
.items-end{
    align-items: flex-end;
}
.items-center{
    align-items: center;
}

//padding
.p{
    &-none{
        padding: 0;
    }
    &x-none{
        padding-left: 0;
        padding-right: 0;
    }
    &y-none{
        padding-top: 0;
        padding-bottom: 0;
    }
    &l{
        &-0{
            padding-left: 0;
        }
        &-1{
            padding-left: 5px;
        }
        &-2{
            padding-left: 10px;
        }
        &-3{
            padding-left: 15px;
        }
        &-4{
            padding-left: 20px;
        }
        &-6{
            padding-left: 25px;
        }
        &-7{
            padding-left: 30px;
        }
    }

    &r{
        &-0{
            padding-right: 0;
        }
        &-1{
            padding-right: 5px;
        }
        &-2{
            padding-right: 10px;
        }
        &-3{
            padding-right: 15px;
        }
        &-4{
            padding-right: 20px;
        }
        &-6{
            padding-right: 25px;
        }
        &-7{
            padding-right: 30px;
        }
    }

    &t{
        &-0{
            padding-top: 0;
        }
        &-1{
            padding-top: 5px;
        }
        &-2{
            padding-top: 10px;
        }
        &-3{
            padding-top: 15px;
        }
        &-4{
            padding-top: 20px;
        }
        &-6{
            padding-top: 25px;
        }
        &-7{
            padding-top: 30px;
        }
    }
}

//margin
.m{
    &-none{
        margin: 0;
    }
    &x-none{
        margin-left: 0;
        margin-right: 0;
    }
    &y-none{
        margin-top: 0;
        margin-bottom: 0;
    }

    &r{
        &-0{
            margin-right: 0;
        }
        &-1{
            margin-right: 5px;
        }
        &-2{
            margin-right: 10px;
        }
        &-3{
            margin-right: 15px;
        }
        &-4{
            margin-right: 20px;
        }
        &-6{
            margin-right: 25px;
        }
        &-7{
            margin-right: 30px;
        }
        &-8{
            margin-right: 35px;
        }
    }

    &l{
        &-0{
            margin-left: 0;
        }
        &-1{
            margin-left: 5px;
        }
        &-2{
            margin-left: 10px;
        }
        &-3{
            margin-left: 15px;
        }
        &-4{
            margin-left: 20px;
        }
        &-6{
            margin-left: 25px;
        }
        &-7{
            margin-left: 30px;
        }
    }
    &b{
        &-0{
            margin-bottom: 0;
        }
        &-1{
            margin-bottom: 5px;
        }
        &-2{
            margin-bottom: 10px;
        }
        &-3{
            margin-bottom: 15px;
        }
        &-4{
            margin-bottom: 20px;
        }
        &-6{
            margin-bottom: 25px;
        }
        &-7{
            margin-bottom: 30px;
        }
    }
}

.one-quarter{
    width: 25%;
}
.is-half{
    width: 50%;
}
.three-quarter{
    width: 75%;
}


//form-group
.form-group{
    position: relative;
    input[type=text]{
        border: 1px solid $border-grey;
        border-radius: 4px;
       
        color: $grey;
        letter-spacing: 0.25px;
        font-family: 'Montserrat', sans-serif;       

        
        &::-webkit-input-placeholder { 
            color: $grey;
        }  
        &:-ms-input-placeholder { 
            color: $grey;
        }
        &::placeholder {
            color: $grey;
        }
        

        &.sm{
            width: 160px;
            padding: 8px 16px;
        }
        &.md{
            width: 296px;
            padding: 19px 16px;
        }

        &:focus{
            outline: none;
        }
    }
    button{
        position: absolute;
        right: 4%;
        top: 26%;
        background: none;
        border: none;
    }
}

.btn{
    font-size: 16px;
    font-weight: 600;    
    letter-spacing: 0.25px;
    padding: 6px 20px;
    border-radius: 4px;
    background-color: transparent;
    color: $dark;
    cursor: pointer;
    &-cancel{
        border: 1px solid $border-grey;
        margin-right: 16px;
    }

    &-filter{
        border: 1px solid $primary;
        background-color: $primary;
    }
}

// Tweak Calendar
.rdrDateDisplayWrapper{
    display: none;
}
.rdrStartEdge,
.rdrEndEdge{
    background-color: $violet !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    left: 4px !important;
    top: 0 !important;
    z-index: 1;
}
.rdrDayNumber{
    z-index: 1;
}
.rdrDayToday .rdrDayNumber span:after{
    display: none;
}
.rdrInRange{
    background-color: $light-violet !important;
}
.rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span, 
.rdrDay:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span{
    color: $dark !important;    
}
.rdrSelected, 
.rdrInRange
{
    left: -15px !important;
}
.rdrInRange{
    width: 80px;
    top: 2px;
    bottom: 4px;
}
.rdrDayEndOfWeek .rdrInRange{
    width: auto;
}
.rdrDayStartOfWeek .rdrInRange{
    left: 0 !important;
}
.rdrDay,
.rdrDayNumber span{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px !important;
}

//tweak table
.rdt_TableCell{
    font-family: 'Encode Sans', sans-serif !important;
    letter-spacing: 0.25px;
}
.rdt_TableRow{
    transition: .3s;
    &:hover{
        background-color: $ligth-blue;
    }
}

@media only screen and (max-width: 1024px){
    .one-quarter{
        width: calc(100% - 64px);
        margin-bottom: 16px;
    }
    .is-half{
        margin-top: 16px;
        width: calc(100% - 64px);
    }
    .three-quarter{
        margin-top: 16px;
        width: calc(100% - 64px);
    }
}

