@import 'Variable.scss';

header{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    
    .logo{
        margin-right: 65px;
        img{
            max-height: 32px;
        }
    }

    .profile{
        display: flex;
        cursor: pointer;
        .avatar{
            span{
                width: 40px;
                height: 40px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: $avatar-grey;
                font-size: 16px;
                font-weight: 700;
            }
        }

        .user{
            margin:0 32px 0 22px;
           
            p{
                &.name{
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0.4px;
                }
                &.address{
                    font-size: 12px;
                    color: $grey;
                    letter-spacing: 0.4px;
                }
            }
        }
    }

    .control{
        .notification{
            display: inline-flex;
            &.has-notification{
                position: relative;
                &:before{
                    content: '';
                    position: absolute;
                    right: -8px;
                    top: -8px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: $red;
                    position: absolute;
                }                
            }
        }
    }
}
@media only screen and (max-width: 1024px) {
    header{
        height: 112px;
        position: relative;

        .search-form{
            position: absolute;
            left: 16px;
            top: 72px;
            width: calc(100% - 32px);
            .form-group {
                input[type=text]{
                    width: calc(100% - 32px);
                }
            }
        }

        .item {
            align-items: flex-start;
        }
    }
}

@media only screen and (max-width: 540px){
    header{
        .profile{
            display: none;
        }
    }
}