$primary:#82C341;
$secondary:#5F9F2F;
$dark:#333333;
$grey:#9C9C9C;
$violet:#725E9C;
$light-violet:#E0DBEB;
$army:#5C8F94;
$orange:#EBA45E;
$label-orange: #E59849;
$red:#C25B3A;
$ligth-blue:#EFF7FF;
$light-grey:#E4EAEB;
$border-grey:#E5E5E5;
$header-grey:#F5F5F5;
$input-grey:#DDDDDD;
$avatar-grey:rgba(144, 144, 144, 0.1);
